handlers:
  slack:
    # TODO: For some reason the SLACK_HANDLER_CHANNEL variable won't be interpolated if the value begins with '#'
    #  The current solution is simply to list specify the channel without the '#' prefix
    channel: nuc
    token: $SLACK_HANDLER_TOKEN

env:
  SLACK_HANDLER_TOKEN: "{{ requiredEnv "KUBEWATCHER_SLACK_HANDLER_TOKEN" }}"
