database:
  url: {{ requiredEnv "EASY_EDIT_DATABASE_URL" }}
  username: {{ requiredEnv "EASY_EDIT_DATABASE_USERNAME" }}
  password: {{ requiredEnv "EASY_EDIT_DATABASE_PASSWORD" }}

ingress:
  enabled: true
  hostname: easyedit.surfstation.dk
  certIssuer: letsencrypt-prod
