ingress:
  enabled: true
  hosts:
    - name: helm-charts..127.0.0.1.nip.io
      path: /
env:
  open:
    DISABLE_API: false
    STORAGE: local
    AUTH_ANONYMOUS_GET: true
  secret:
    BASIC_AUTH_USER: {{ requiredEnv "CHARTMUSEUM_AUTH_USER" }}
    BASIC_AUTH_PASS: {{ requiredEnv "CHARTMUSEUM_AUTH_PASS" }}
persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 100M
